* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
  text-decoration: none;
}

main {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  justify-content: flex-start;
  border: 0px;
  box-shadow: 0px 0px 18px grey;
  border-bottom: 0px solid rgba(203, 200, 200, 0.329);
  background-color: white;
}
#home12 {
  position: fixed;
  opacity: 0.5;
  z-index: -3333;
  padding-left: 420px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 12px 15px;
}

nav ul li {
  font-weight: bold;
  padding-top: 55px;
  margin-left: 5px;
  margin-right: 54px;
}

nav ul li a {
  color: #0003a2;
  font-size: 18px;
  font-weight: bold;
}

nav ul li a:hover {
  border-bottom: 3px solid #0003a2;
}

.clglogo {
  padding-top: 5px;
  padding-left: 5px;
  /* padding-left: 5px; */
}
span {
  color: #ff0000;
  font-weight: bold;
  font-size: 30px;
}
#dashlogo {
  margin-top: 15px;
  padding-left: 26px;
  margin-right: 103px;
  height: 120px;
}
.boards-container {
  width: 80%;
  /* margin: 0 auto; */
  margin: 50px 50px 50px 157px;
  padding: 40px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

p {
  font-size: 0.8em;
  line-height: 1.5;
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.board {
  background-color: #eaeaea;
  padding: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.board:hover {
  background-color: #e0e0e0;
}

.board h2 {
  margin-bottom: 10px;
}

.financial {
  background-color: #67b3a7;
  color: #fff;
}

.extracurricular {
  background-color: #c02942;
  color: #fff;
}

.athletics {
  background-color: #ffc107;
  color: #000;
}

.social {
  background-color: #3498db;
  color: #fff;
}
.clgscc {
  border-bottom: 3px solid #0003a2;
}
